In [83]:
from sqlalchemy import Column, String, Date, BigInteger
from sqlalchemy.ext.declarative import declarative_base


Base = declarative_base()


def createTable(tablename):
    class CountryName(Base):
        __tablename__ = tablename
        Customer_Name = Column(String(255), primary_key=True, nullable=False)
        id = Column(BigInteger, autoincrement=True)
        Open_Date = Column(Date, nullable=False)
        Last_Consulted_Date = Column(Date)
        Vaccination_ID = Column(String(5))
        Dr_Name = Column(String(255))
        State = Column(String(5))
        Country = Column(String(5))
        #postCode = Column(String(5))
        DOB = Column(Date)
        Is_Active = Column(String(1))
    return CountryName


def createTables(engine, inspector, db, distinct_countries, existing_tables):
    for tbl in distinct_countries:
        if tbl not in existing_tables:
            print("trying to create " + tbl)
            try:
                createTable(tbl).__table__.create(bind=engine)
                print("Created")
            except Exception as e:
                print(e)
        else:
            print(tbl + " already exists")

In [84]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, inspect
from createTable import createTables


def getTables(engine):
    # If inspector is Not called again,
    # it will not refresh the tables from database, thus using function

    # Performing database inspection
    inspector = inspect(engine)

    # Getting list of tables from "incubyte" database
    all_tables = [tbl for tbl in inspector.get_table_names(schema=db)]

    return all_tables, inspector


df = pd.read_csv('demo.txt', sep="|", header=None)

# header may or may not exist, so using `skiprows = 1` is not good idea
is_header = df.iloc[0, 0]
is_trailer = df.iloc[df.shape[0] - 1, 0]

# checking if Header Records exists
if is_header == 'H':
    df.drop(df.head(1).index, inplace=True)

# Naming the Columns
df.columns = ["D",
              "Customer_Name", "Customer_ID",
              "Open_Date", "Last_Consulted_Date",
              "Vaccination_Id", "Dr_Name",
              "State", "country",
              "DOB", "Is_Active"]

# Checking if Trailer record exists
if is_trailer == 'T':
    df.drop(df.tail(1).index, inplace=True)

# Dropping D columns as it of no use
del df['D']

# customerID is considered as float by pandas, so casting to int

df['Customer_ID'] = df['Customer_ID'].apply(np.int64)
#df['customerName'] = df['customerName'].apply(np.int64)

# Setting customerID as index for faster operations
df.set_index('Customer_ID')

df = df.replace(r'^\s*$', np.nan, regex=True)
df = df[df['country'].notna()]


# here date is treated as string
print(df.info(), end="\n\n")

# Converting String to Dates
try:
    df['Open_Date'] = pd.to_datetime(
        df['Open_Date'], format='%Y%m%d')
    df['Last_Consulted_Date'] = pd.to_datetime(
        df['Last_Consulted_Date'], format='%Y%m%d')
    df['DOB'] = pd.to_datetime(
        df['DOB'], format='%d%m%Y')
except Exception as e:
    print(e)

# here date is treated as date
print(df.info(), end="\n\n")
print(df)

# lower is applied here and not in `distinct_countries`
# coz we need to fetch rows also
df['country'] = df['country'].str.lower()

# Getting Distinct Countries
distinct_countries = df['country'].drop_duplicates()

print("\nDistinct Countries:\n", distinct_countries)

# Connecting to Database
print()
db = "data"
try:
    engine = create_engine(
        "mysql+mysqlconnector://root:ganesh@localhost/" + db)
    engine.connect()
    print("Database Connected")
except Exception as e:
    print(e)

# Getting inspector and list of tables from "incubyte" database
existing_tables, inspector = getTables(engine)
print("Existing Tables:", existing_tables)

# creating tables that does not exists in distinct_countries
createTables(engine, inspector, db, distinct_countries, existing_tables)

# Getting inspector and list of tables from "incubyte" database
existing_tables, inspector = getTables(engine)
print("Existing Tables:", existing_tables)

# inserting records as per country
for country in distinct_countries:
    my_filt = (df['country'] == country)
    try:
        print("Inserting Records in " + country)

        # `to_sql` this will create table if table does not exists,
        # which will avoid constraints like pk, so using if condition
        if country in existing_tables:
            df[my_filt].to_sql(name=country, con=engine,
                               if_exists='replace', index=False)
            print("Inserted")
        else:
            print(country + " table does Not exists")
    except Exception as e:
        print(e)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 1 to 5
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Customer_Name        5 non-null      object
 1   Customer_ID          5 non-null      int64
 2   Open_Date            5 non-null      object
 3   Last_Consulted_Date  5 non-null      object
 4   Vaccination_Id       5 non-null      object
 5   Dr_Name              5 non-null      object
 6   State                5 non-null      object
 7   country              5 non-null      object
 8   DOB                  5 non-null      object
 9   Is_Active            5 non-null      object
dtypes: int64(1), object(9)
memory usage: 440.0+ bytes
None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 1 to 5
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Customer_Name        5 non-null      object
 1   Customer_ID          5 non-null      int64
 2   Open_Date            5 non-null      datetime64[ns]
 3   Last_Consulted_Date  5 non-null      datetime64[ns]
 4   Vaccination_Id       5 non-null      object
 5   Dr_Name              5 non-null      object
 6   State                5 non-null      object
 7   country              5 non-null      object
 8   DOB                  5 non-null      datetime64[ns]
 9   Is_Active            5 non-null      object
dtypes: datetime64[ns](3), int64(1), object(6)
memory usage: 440.0+ bytes
None

  Customer_Name  Customer_ID  Open_Date Last_Consulted_Date Vaccination_Id  \
1          Alex       123457 2010-10-12          2012-10-13            MVD
2          John       123458 2010-10-12          2012-10-13            MVD
3        Mathew       123459 2010-10-12          2012-10-13            MVD
4          Matt        12345 2010-10-12          2012-10-13            MVD
5         Jacob         1256 2010-10-12          2012-10-13            MVD

  Dr_Name State country        DOB Is_Active
1    Paul    SA     USA 1987-03-06         A
2    Paul    TN     IND 1987-03-06         A
3    Paul   WAS    PHIL 1987-03-06         A
4    Paul   BOS     NYC 1987-03-06         A
5    Paul   VIC      AU 1987-03-06         A

Distinct Countries:
 1     usa
2     ind
3    phil
4     nyc
5      au
Name: country, dtype: object

Database Connected
Existing Tables: ['au', 'ind', 'nyc', 'phil', 'usa']
usa already exists
ind already exists
phil already exists
nyc already exists
au already exists
Existing Tables: ['au', 'ind', 'nyc', 'phil', 'usa']
Inserting Records in usa
Inserted
Inserting Records in ind
Inserted
Inserting Records in phil
Inserted
Inserting Records in nyc
Inserted
Inserting Records in au
Inserted

In [85]:
df.head()

,Customer_Name,Customer_ID,Open_Date,Last_Consulted_Date,Vaccination_Id,Dr_Name,State,country,DOB,Is_Active
1,Alex,123457,2010-10-12,2012-10-13,MVD,Paul,SA,usa,1987-03-06,A
2,John,123458,2010-10-12,2012-10-13,MVD,Paul,TN,ind,1987-03-06,A
3,Mathew,123459,2010-10-12,2012-10-13,MVD,Paul,WAS,phil,1987-03-06,A
4,Matt,12345,2010-10-12,2012-10-13,MVD,Paul,BOS,nyc,1987-03-06,A
5,Jacob,1256,2010-10-12,2012-10-13,MVD,Paul,VIC,au,1987-03-06,A